html, body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    display: none;
}

#loadText
{
    color: white;
    display: inline-block;
    margin-left: 1em;
}

#loadScreen
{
    height: 100%;
    width: 100%;
    background-color: gray;
}