html, body {
    height: 100%;
}

.container {
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    display: none;
}

#movieRating{
    width: 4em;
}
#loadText
{

    color: white;
    display: inline-block;
    margin-left: 1em;
}

#loadScreen
{
    height: 300px;
    width: 35%;
    background-color: gray;
}
td {
    padding: 0.25em;
}