html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

#loadText
{
    color: white;

}

#loadScreen
{
    height: 100%;
    width: 100%;
    background-color: gray;
}